src/main/resources/customer-product.xsd

<xsd:schema targetNamespace="http://wenyao.github.io/schema/product"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <!-- 注释 3.4 自定义元素  -->
    <xsd:element name="product">
        <xsd:complexType>
            <!-- 这个是类注册时的名字，组件中请不要占用该字段~ -->
            <xsd:attribute name="id" type="xsd:string"/>
            <!-- 属性定义列表，名字和类型 -->
            <xsd:attribute name="productId" type="xsd:long"/>
            <xsd:attribute name="productName" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
